#property-card1{
                background-image: url('/proprties/villa.jpg');
                background-position: center;
                background-size: cover;
               }
#property-card2{
                background-image: url('/proprties/luxury.jpg');
                background-position: center;
                background-size: cover;
                }
#property-card3{
                background-image: url('/proprties/office.jpg');
                background-position: center;
                background-size: cover;
                }                
#about{
        border-radius: 86% 3% 5% 5% / 11% 10% 10% 10%;
      }
#about-container{
                    border-radius: 100% 0% 100% 0% / 12% 100% 0% 88% ;
                }
@media (max-width: 820px){
                            #about{
                                    border-radius:76% 9% 9% 10% / 16% 4% 4% 4% ;
                                    
                            }
                        }