#team-member-info{
                    text-shadow: 1px 1px 3px black;
                }
.swiper-button-next::after,
.swiper-button-prev::after {
                            color: #000000; /* Change the arrow color */
                            font-size: 30px; /* Adjust size if needed */
                            }
.swiper-pagination-bullet {
                            background-color: #000000; /* Default color for dots */
                            opacity: 1; /* Slightly transparent */
                            }
                            
.swiper-pagination-bullet-active {
                                background-color: #000000 !important; /* Color for active dot */
                                opacity: 1; /* Fully opaque */
                                scale: 1.5; /* Enlarge the active dot slightly */
                                }
                                swiper-slide {
                                    transform: scale(1);
                                    transition: transform 0.3s ease-in-out;
                                  }
                                  
                                  /* Scale up the active slide */
                                  .swiper-slide-active {
                                    transform: scale(1.2);
                                    z-index: 10;
                                  }
                                  
                                  /* Adjust neighboring slides for smooth transition */
                                  .swiper-slide-prev,
                                  .swiper-slide-next {
                                    transform: scale(1);
                                    z-index: 5;
                                  }
                                  
                                  /* Dimming effect for non-active slides */
                                  .swiper-slide:not(.swiper-slide-active) {
                                    opacity: 0.7;
                                    z-index: 1;
                                  }
                                  