.expand-enter {
    opacity: 0;
    max-height: 0;
    transform: scale(0.95); /* Slightly shrink */
    overflow: hidden;
  }
  
  .expand-enter-active {
    opacity: 1;
    max-height: 500px; /* Adjust as needed */
    transform: scale(1); /* Smoothly grow back to normal size */
    transition: opacity 400ms ease-out, max-height 0ms, transform 400ms ease-out; /* Instant max-height */
  }
  
  .expand-exit {
    opacity: 1;
    max-height: 500px;
    transform: scale(1);
  }
  
  .expand-exit-active {
    opacity: 0;
    max-height: 0;
    transform: scale(0.95); /* Slightly shrink for smoother collapse */
    transition: opacity 400ms ease-in, max-height 0ms, transform 400ms ease-in; /* Instant max-height */
  }
  