
#contact-container{
                    background-image: url('/RectLight.svg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
}
@media (max-width: 820px){
    #contact-container{
        background-image: url('/RectLightMobile.svg');
    }
    
}
