@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/Metropolis-black.otf');
}
*{
    
    font-family: 'Metropolis';
    padding: 0;
    box-sizing: border-box;
}